@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="triages">Triages</div>
<div class="listing">
    <table>
        <tr>
            <td class="triage-list">
                Triage List
            </td>
            <td>
                <div class="primary-button-triage search group-3-copy-2 create-triage-invite rectangle">Create Triage Invite</div>
            </td>
            <td>
                <table>
                    <tr>
                        <td class="group-7">
                            <img src="~/images/previous.png" />
                            <div class="all">All</div>
                            <div class="group-6">My Triages</div>
                            <div class="group-6">Completed</div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
